* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#container{
    width: 1200px;
    margin: 20px auto;
}

/*header*/
#header{
    width: 100%;
    height: 120px;
    background-color: rgb(74, 18, 255);
}
.title{
	margin-left: 450px;
	color: white;
}
.exp{ /*explanation : 설명*/
	color: bisque;
	margin-left: 435px;
}


/*nav*/
#nav{
	background-color: aqua;
}
.cheer--massage{
	margin-top: 20px;
	margin-left: 20px;
}
.input--massage{
	font-weight: bold;
}
.cheer{
	color: gray;
}


/*section*/
#section{
	margin-left: 40px;
}
ul{
	padding: 30px;
}
.box{
	margin-top: 20px;
}
.Monday{
	color: red;
	font-weight: bold;
}
.Tuesday{
	color: orange;
	font-weight: bold;
}
.Wednesday{
	color: rgba(255, 255, 0, 0.441);
	font-weight: bold;
}
.Thursday{
	color: green;
	font-weight: bold;
}
.Friday{
	color: blue;
	font-weight: bold;
}
.Saturday{
	color: purple;
	font-weight: bold;
}
.Sunday{
	color: pink;
	font-weight: bold;
}
#day{
	width: 600px;
}


